{% extends 'repair/base.html' %}
{% load static %}

{% block title %}Error 404{% endblock title %}
{% block subtitle %}Inicio{% endblock subtitle %}

{% block styles %}
{% endblock styles %}


{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- 404 Error Text -->
    <div class="text-center">
        <div class="error mx-auto" data-text="404">404</div>
        <p class="lead text-gray-800 mb-5">Página no encontrada</p>
        <p class="text-gray-500 mb-0">Parece que encontraste un error en la matriz ...</p>
        <a href="{% url 'repair:homepage' %}">&larr; Volver al Inicio</a>
    </div>

</div>
<!-- /.container-fluid -->
{% endblock content %}


{% block scripts %}
{% endblock scripts %}