{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}{% endblock title %} | Sayulita Support</title>

    <!-- Favicon -->
    <link href="{% static 'repair/img/favicon.png' %}" rel="shortcut icon" type="image/png">
    
    <!-- Custom fonts for this template-->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    {% block styles %}{% endblock styles %}

    <!-- Custom styles for this template-->
    <link href="{% static 'repair/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'repair/css/sb-admin-2.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        {% include 'repair/partials/sidebar.html' %}

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                {% include 'repair/partials/nav.html' %}

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">{% block subtitle %}{% endblock subtitle %}</h1>
                        <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Algún proposito tendrás</a> -->
                    </div>
                    
                    <!-- <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>¡Bienvenido {{ user.username }}!</strong> Ahora puedes hacer lo que quieras.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div> -->

                    {% block content %}{% endblock content %}

                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->

            {% include 'repair/partials/footer.html' %}

        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    {% include 'repair/partials/ad.html' %}

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'repair/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'repair/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- Core plugin JavaScript-->
    <script src="{% static 'repair/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <!-- Custom scripts for all pages-->
    <script src="{% static 'repair/js/sb-admin-2.min.js' %}"></script>
    <!-- Page level plugins -->
    <script src="{% static 'repair/vendor/chart.js/Chart.min.js' %}"></script>
    <!-- Page level custom scripts -->
    <script src="{% static 'repair/js/demo/chart-area-demo.js' %}"></script>
    <script src="{% static 'repair/js/demo/chart-pie-demo.js' %}"></script>

    {% block scripts %}{% endblock scripts %}

</body>

</html>