{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Iniciar sesión | Sayulita Support</title>

    <!-- Favicon -->
    <link href="{% static 'repair/img/favicon.png' %}" rel="shortcut icon" type="image/png">
    
    <!-- Custom fonts for this template-->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'repair/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'repair/css/sb-admin-2.min.css' %}" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">¡Bienvenido de nuevo!</h1>
                                    </div>
                                    <form class="user" action="" method="POST">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-user"  name="{{ form.username.name }}" id="{{ form.username.id_for_label }}" placeholder="Nombre de usuario" maxlength="{{ form.username.field.max_length }}" required>
                                            {% if form.username.errors %}
                                            <div class="invalid-feedback">
                                                {{ form.username.errors }}
                                            </div>
                                            {% endif %}
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user" name="{{ form.password.name }}" id="{{ form.password.id_for_label }}" placeholder="Contraseña" maxlength="{{ form.password.field.max_length }}" required>
                                            {% if form.password.errors %}
                                            <div class="invalid-feedback">
                                                {{ form.password.errors }}
                                            </div>
                                            {% endif %}
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <input type="checkbox" class="custom-control-input" id="customCheck">
                                                <label class="custom-control-label" for="customCheck">Recuérdame</label>
                                            </div>
                                        </div>
                                        <button class="btn btn-primary btn-user btn-block" type="submit">Iniciar sesión</button>
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="#">¿Se te olvidó tu contraseña?</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" href="{% url 'repair:register' %}">¡Crea una cuenta!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'repair/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'repair/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- Core plugin JavaScript-->
    <script src="{% static 'repair/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <!-- Custom scripts for all pages-->
    <script src="{% static 'repair/js/sb-admin-2.min.js' %}"></script>

</body>

</html>